<h2>Lista osób</h2>

<button mat-raised-button color="primary" routerLink="/add">
  Dodaj osobę
</button>

<p *ngIf="error">{{ error }}</p>

<ng-container *ngIf="persons$ | async as persons">
  <p>Liczba osób: {{ persons.length }}</p>

  <mat-list class="person-list">
    <mat-list-item *ngFor="let person of persons">
      <div class="person-item">
        <div class="person-main">
          <div class="person-name">
            {{ person.firstName }} {{ person.familyName }}
          </div>
          <div class="person-city">
            {{ person.address?.city }}
          </div>
        </div>

        <div class="person-actions">
          <button mat-stroked-button color="primary"
                  [routerLink]="['/details', person.id]">
            Szczegóły
          </button>

          <button mat-raised-button color="warn"
                  (click)="delete(person.id)">
            Usuń
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>

  <p *ngIf="persons.length === 0 && !error">
    Brak zapisanych osób.
  </p>
</ng-container>
